html {
  --color-homepage: #040714;
  --color-white: #fff;
}

body {
  background-color: var(--color-homepage);
  color: var(--color-white);
  line-height: 1.4;
  font-family: Roboto, Noto Sans KR, sans-serif;
  word-break: keep-all;
}
